body {
    font-family: 'Lato', sans-serif!important;
    position: relative;
    color: #000;
    margin-top: 65px;
    background-color: #fff;
}

* {
    padding: 0;
    margin: 0
}

*,
:after,
:before {
    box-sizing: border-box;
}

*,
:focus {
    outline: 0
}

img {
    max-width: 100%;
    vertical-align: bottom
}

a {
    color: #272b3f;
    text-decoration: none;
    display: inline-block
}

a:focus,
a:hover {
    text-decoration: none
}
ul, p , h1 ,h2 ,h3 ,h4,h5,h6{
    margin-bottom: 0px!important;
}
ul {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    position: relative
}

@media only screen and (max-width: 992px) {
    .container {
        padding: 0 12px
    }
}

@media(min-width: 992px) {
    .container {
        width: 970px
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1096px
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 20px
}

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar-track {
    background-color: #ccc
}

::-webkit-scrollbar-track-piece {
    background-color: #ccc
}

::-webkit-scrollbar-thumb {
    background-color: #272b3f
}

::-webkit-scrollbar-thumb:hover {
    background-color: #272b3f
}

::-webkit-scrollbar-corner {
    display: none
}

::-webkit-resizer {
    display: none
}

.list-inline {
    padding: 0;
    font-size: 0;
    list-style-type: none
}

.list-inline>li {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 16px
}

.text-right {
    text-align: right;
}

.under-ne {
    position: relative;
}

.under-ne:after {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    left: 0px;
    background-color: #0e83db;
    bottom: -4px
}

.white:after {
    background-color: #fff!important
}

.close-button {
    display: none;
}
.p-30{
    padding: 30px;
}


/*header css starts*/
header {
    background-color: #fff;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0px;
    left: 0;
    -webkit-box-shadow: 0 8px 24px rgba(0,0,0,.13);
    -moz-box-shadow: 0 8px 24px rgba(0,0,0,.13);
    box-shadow: 0 8px 24px rgba(0,0,0,.13);
}

.pn_headCount {
    position: relative;
    width: 100%;
    font-size: 0px;
    padding: 16px 0
}

.pn_logo,
.pn-navmenu,
.pn-hambur {
    display: inline-block;
    position: relative;
    font-size: 14px;
    width: 30%;
    vertical-align: middle;
}

.mobi-view {
    display: none;
}

.pn_logo>a>img {
    width: 100%;
    display: block;
    max-width: 100px
}


.pn-navmenu {
    width: 55%
}

.pn-hambur {
    width: 15%
}
.mobile-view-btn{
    background-color: none;
    border:none;
    color: #2F1DAC;
    background-color: #fff;

}


/*.pn_dropdown{
    display: none;
}*/

.pn-ist-nav>li {
    position: relative;
    padding: 0px 24px;

}
.pn-ist-nav>li>a {
color: #0000ff;

}

.parent-drop{
    position: relative;
}
.parent-drop:after{
    position: absolute;
    transition: 0.5s;
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #2f1dac;
    right: 12px;
    transform: rotate(180deg);
    margin: 8px auto;
}
.pn-ist-nav>li:hover:after {
    transform: rotate(0deg);
}
.pn-ist-nav>li:hover .pn_dropdown {
    visibility: visible;
    opacity: 1;
    top: 40px
}


.pn_dropdown {
    list-style-type: none;
    position: absolute;
    width: 160px;
    text-align: left;
    border-top: 4px solid #e81721!important;
    background-color: #fff;
    top: 60px;
    transition: 0.5s;
    left: -25px;
    z-index: 999;
    visibility: hidden;
    opacity: 0
}

.pn_dropdown:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #e81721;
    top: -11px;
    left: 0;
    right: 0;
    margin: 0px auto;
}

.pn_dropdown>li {
    padding: 8px 12px;
    border: 1px solid #eee;
}

.pn_dropdown>li>a {
    display: block;
}

.pn-signin-button {
    position: relative;
    transition: .5s;
    padding: 4px 20px;
    border: 1px solid;
    border-radius: 6px;
}

.pn-signin-button:hover {
    background-color: #003865;
    color: #fff;
}



/**************************/
#banner-content{
    margin: 42px auto
}
#banner-content p{
    font-size: 14px;
}

/*****************************/
.heading_text{
    font-size: 22px;
    padding-bottom: 6px;
    margin-bottom: 18px!important;
    position: relative;
}
.heading_text:after{
    position: absolute;
    content: "";
    width: 35%;
    height: 2px;
    background-color: red;
    left: 0;
    bottom: -5px;
}
.ex-deptCont{
    position: relative;
    width: 100%;
    font-size: 0px;
}
.ex-dept-Left , .ex-dept-Right{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 25%;
    font-size: 14px;

}
 .ex-dept-Right{
    width: 75%;
    padding-left: 24px;
    max-height: 440px;
    overflow: scroll;
    overflow-x: hidden;
 }
 
.dept-list-group{
    width: 33.33%;
    padding:3px!important;
    vertical-align: top!important;
}
.grid_view{
    border: 1px solid #2F1DAC;
    padding:12px;
    border-radius: 5px;
    cursor: pointer;
}
.plus_ico{
    position: relative;
}
.plus_ico >img{
    max-width: 75px
}
.plus_ico:after {
    position: absolute;
    content: "";
    border: solid #0909ce;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    right: 12px;
    transition: 0.5s;
    transform: rotate(45deg);
}
.grid_view >h2{
    font-size: 16px;
    padding-top: 24px;
}
.dept-list{
    color: #0909ce;
}
.mobile-view-btn{
    pointer-events: none;
}
.hwi {
    position: absolute;
    width: 96%;
    background-color: #2F1DAC;
    left: 11px;
    right: 0px;
    margin: 2px 30px 2px 16px;
}.full-cont{
    display: none;
    padding: 12px 12px 0;
}
.dep-moreInfp{
    width: 33.33%;
    position: relative;
}
.dep-moreInfp > a{
 display: block;
    text-align: right;
    color: #ccc;
}
   
.open{
    display: block
}
.dep-active{
    height: 550px;
}
.grid_view:hover {
    background-color: #2F1DAC!important;
}
.grid_view:hover .plus_ico:after{
    border-color: #fff;
}
.grid_view:hover .plus_ico ,.grid_view:hover h2{
    color: #fff;
}
.dep-active >.dept-list{
    background-color: #2F1DAC!important
}
.dep-active .plus_ico , .dep-active  h2  , .dep-active .full-cont{
    color: #fff;
} 
.dep-active .plus_ico:after{
    border-color: #fff!important;
    transform: rotate(225deg);
}
.child_deptCont{
    position: relative;
    margin: 28px auto
}

.child_deptCont >li{
    width: 33.33%;
    padding:12px;
}
.child_deptCont >li >h3{
    font-size: 15px;
}
.child_deptCont >li >p{
    font-size: 12px;
}
.section4{
    margin: 60px auto
}
.ec-topBord{
       border-top: 1px solid #8484dc;
    padding-top: 60px;
}
.bg_color{
    background-color: #2f1dac;
}
footer >div >p{
    padding:16px;
    color: #fff;
}
#overlay {
    position: absolute;
    top: -70px;
    bottom: 0;
    background: #2f1daccc;
    width: 100%;
    height: 100%;
    opacity: 0.87;
    display: none;
    z-index: 99;
    transition: all 1s ease;
}

#overlay.active {
    display: block;
}

@media (min-width:768px) and (max-width: 1024px){
    .pn-ist-nav>li{
        padding:0px 12px;
    }
    .parent-drop:after{
        right: 0px;
    }
    .ex-dept-Left, .ex-dept-Right{
        width: 100%;
    }

    .ex-dept-Right{
        padding-left: 0px;
        margin-top:36px;
    }
    .heading_text , .heading-para{
        text-align: center;
    }
    .heading_text >span{
        display: inline-block!important
    }
    .hwi {
  
    width: 100%;
    left: -18px;
  
}
.heading_text:after {
  
    width: 20%;
    background-color: red;
    left: 0;
    bottom: -5px;
    right: 0;
    margin: 0px auto;
}

}
@media (max-width: 767px){
    .ex-dept-Left, .ex-dept-Right{
        width: 100%;
    }
    .heading_text , .heading-para{
        text-align: center;
    }
    .heading_text >span{
        display: inline-block!important
    }
 .ex-dept-Right{
    padding-left: 0px;
    max-height: 100%;
    overflow:auto;
    margin-top: 24px;
 }
 .dep-moreInfp{
    width: 100%
 }
  .mobile-view-btn{
        pointer-events: all;
    }
 .dep-active{
    height: auto;
 }
 .plus_ico >img {
    max-width: 45px;
}
.grid_view >h2{
    padding-top: 18px;
    padding-left: 8px;
}
.heading_text:after {
  
    width: 20%;
    background-color: red;
    left: 0;
    bottom: -5px;
    right: 0;
    margin: 0px auto;
}
.section4{
    margin: 20px auto
}
.ec-topBord{
    padding-top: 20px
}

.dep-moreInfp > a{
    padding-top: 12px;
    text-align: left;
}
.child_deptCont >li{
    width: 100%;
    padding:12px 0;
}
 .hwi{
    position: relative;
    width: 100%;
    margin: auto;
 }
    .dept-list-group{
    width: 100%;
    padding:3px!important;
    vertical-align: top!important;
}
.pn-ist-nav>li {
    position: relative;
    display: block;
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.pn-navmenu{
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    left: -400px;
    transition: 0.5s;
    background: #fff;
    z-index: 999;
}
.pn-navmenu.open{
    left: 0px
}
.pn_dropdown:after{
    display: none;
}

.pn_dropdown>li{
    border: none;
    padding:12px 0;
}
.pn-ist-nav>li:hover .pn_dropdown {
    top: auto;
}
.pn-hambur{
padding-right: 12px;}
#banner-content{
    margin: 24px auto
}
.pn_headCount{
    padding:10px 0;
}
body{
    margin-top: 53px;
}
.close-button {
    position: absolute;
    right: -44px;
    display: block;
    border-left: 1px solid #ccc!important;
    background-color: #fff;
    width: 45px;
    height: 45px;
    padding: 9px;
    font-size: 17px;
    z-index: 9999;
    border: none;
}
.pn_dropdown {
    list-style-type: none;
    position: relative;
     width:100%;
     display: none;
    text-align: left;
     border-top: inherit!important;
    background-color: #fff;
     top: 0; 
    transition: 0.5s;
    left: inherit;
    z-index: 999;
     visibility: visible; 
     opacity: 1
}
.pn-ist-nav>li:after {
    transform: rotate(180deg)!important;
}
.pn-ist-nav>li.active:hover:after {
    transform: rotate(0deg)!important;
}
.parent-drop.active .pn_dropdown{
    display: block;
}
.parent-drop:after{
    top: 12px;
}
.pn-hambur , .pn_logo{
    width: 50%;

}
}